.call-card-view {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top:0px;
  border-radius: 15px;
  display: grid;
  z-index: 11;
  display: none;
}
.background-view{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #444851f0;
}

.caller-details {
  position: absolute;
  place-self: center;
  display: grid;
  grid-gap: 10px;
}

.circle-container {
  place-self: center;
  border-radius: 50%;
  overflow: hidden;
  height: 100px;
  background: red;
  display: grid;
  place-items: center;
  margin-top: -100px;
}

.call-image{
  width: 100px;
}

.circle-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  /* background-color: #22242a; */
}

.phoneNumber {
  width: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.call-actions {
  position: absolute;
  width: 100%;
  min-height: 150px;
  /* border-top: 1px solid #24262c; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: transparent;
  place-self: end;
  align-items: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.call-actions.caller{
  grid-template-columns: 1fr;
}.call-actions.caller > .hangup {
  justify-self: center;
}

.call-action-button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.small-size {
  width: 35px;
  height: 35px;
}
.call-action-button.small-size > img { height: 15px;}

.call-action-button:hover {
  transform: scale(1.06);
}

.hangup {
  justify-self: end;
  background-color: #ff552f;
}

.call-action-button > img{
  height: 20px;
}

.pickup {
  background-color: #1ace7a;
  grid-column: -1;
}


.calling {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  -webkit-animation: opacity 2.5s infinite linear;
  -o-animation: opacity 2.5s infinite linear;
  animation: opacity 2.5s infinite linear;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}


.circle {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid #22242a;
  background-color: transparent;
  -webkit-animation: wave 2s infinite linear;
  -o-animation: wave 2s infinite linear;
  animation: wave 2s infinite linear;
}

.two {
  animation-delay: 0.35s;
  opacity: 0;
}

.three {
  animation-delay: 0.7s;
  opacity: 0;
}

@keyframes wave {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
    border-width: 1px;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
    border-width: 10px;
  }
}

.blurred-background{
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(15px);
  /* z-index: -10; */
}

.blurred-background > img{
  height: inherit;
  width: inherit;
}